<h3 class="text-center display-5">Edit Post</h3>
<form>
  <div class="input-group m-3">
  <input value="{{title}}" id="title" type="text" class="form-control" placeholder="Title" aria-label="Title" aria-describedby="basic-addon1">
</div>
<div class="input-group m-3">
  <textarea id="content" class="form-control" style="height: 50%;" aria-label="With textarea">{{content}}</textarea>
</div>
</form>
<button data-id="{{id}}" class="btn btn-success m-3" id="editPost">Save</button>
<a class="btn btn-danger m-1" href="/dashboard">Cancel</a>

   



