{{#each posts as |post| }}
<div class="card">
  <div class="card-header">
    {{title}} | <p class="text-muted">{{user.name}}</p>
  </div>
  <div class="card-body">
    <p>{{content}}</p>
  </div>
  <div class="card-footer text-muted">
    {{date_created}}
    {{#if logged_in}}
    <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
    <button class="btn btn-success"><i class="fas fa-pen"></i></button>

    {{/if}}
  </div>
</div>
{{/each}}