<div class="container position-absolute top-100 start-50 translate-middle p-5 mx-auto text-center">
    
    <div class="card position-absolute top-50 start-50 translate-middle p-4" style="width: 18rem;">
  <h1 class="display-5">Login</h1>
  <div class="card-body">
    <form>
        <div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">@</span>
  <input id="email" type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
  <input id="password" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
</div>
    </form>
    <button id="login" class="btn btn-warning bg-warning">Login</button>
    <a type="button" href="/signup" class="btn btn-outline-secondary">SignUp</a>

  </div>
</div>
    
</div>