<div class="card mb-3">
    <div class="card-header">
        {{title}} <small class="text-muted fs-6">by {{user.name}} <p class="float-end">{{format_date date_created}}</p>
            </small>
    </div>
    <div class="card-body">
        <p>{{content}}</p>
    </div>

</div>