<div class="container p-5 mx-auto text-center">
    
    <div class="card position-absolute top-50 start-50 translate-middle p-4" style="width: 18rem;">
  <h1 class="display-5">SignUp</h1>
  <div class="card-body">
    <form>
        <div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">@</span>
  <input id="email" type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
  <input id="username" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
  <input id="password" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
</div>
    </form>
    <button id="signup" class="btn btn-warning bg-warning">SignUp</button>
  </div>
</div>
    <div style="display: none; width: 50%;" class="alert alert-danger mx-auto" role="alert">
  Email already exist!
</div>
</div>
